{% extends 'base.html.twig' %}


{% block body %}

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-4">Les dernières sorties</h1>
            <div><a class="btn btn-sm btn-outline-light" href="{{path('app_game')}}"><i class="fa-solid fa-plus"></i></a></div>
        </div>
        <div class="row">
            {% for game in lastPublishedGames %}
                {% include "common/_cardGame.html.twig" %}
            {% endfor %}
        </div>
    </div>

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-4">Les plus joués</h1>
            <div><a class="btn btn-sm btn-outline-light" href="{{path('app_game')}}"><i class="fa-solid fa-plus"></i></a></div>
        </div>
        <div class="row">
            {% for game in mostPlayedGames %}
                {% include "common/_cardGame.html.twig" %}
            {% endfor %}
        </div>
    </div>

    <div class="comment-section py-4">
        <div class="container">
            <h1 class="pb-2">Les derniers commentaires</h1>
        </div>
        <div class="d-flex justify-content-evenly">
            {% for comment in lastPostedComments %}
                <div class="cardcomment d-flex flex-column p-2 justify-content-center">
                    <h5>{{comment.game.name}}</h5>
                    <p>{{ comment.content|length > 75 ? comment.content|slice(0, 75) ~ '...' : comment.content  }}</p>
                    <p>Le {{ comment.createdAt|date("m F Y") ~ ' par ' ~ comment.account.nickname }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-4">Les plus achetés</h1>
            <div><a class="btn btn-sm btn-outline-light" href="{{path('app_game')}}"><i class="fa-solid fa-plus"></i></a></div>
        </div>
        <div class="row">
            {% for game in mostBoughtGames %}
                {% include "common/_cardGame.html.twig" %}
            {% endfor %}
        </div>
    </div>
    

{% endblock %}