{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-4">
            <h1 class="m-0">Les dernières sorties</h1>
            <div><a class="btn btn-sm btn-outline-light" href="{{path('app_game')}}"><i class="fa-solid fa-plus"></i></a></div>
        </div>
        <div class="row">
            {% for game in lastPublishedGames %}
                {% include "common/_cardGame.html.twig" %}
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="m-0">Les plus joués</h1>
            <div><a class="btn btn-sm btn-outline-light" href="{{path('app_game')}}"><i class="fa-solid fa-plus"></i></a></div>
        </div>
        <div class="row">
            {% for game in mostPlayedGames %}
                {% include "common/_cardGame.html.twig" %}
            {% endfor %}
        </div>
    </div>

    <div class="comment-section pb-5 pt-4">
        <div class="container">
            <h1 class="mb-1">Les derniers commentaires</h1>
        </div>
        <div class="d-flex justify-content-evenly">
            {% for comment in lastPostedComments %}
                <div class="cardcomment d-flex flex-column p-2 align-items-evenly">
                    <h5><a class="text-decoration-none" href="{{ path('app_one_game', {'slug': comment.game.slug}) }}">{{comment.game.name}}</a></h5>
                    <p>{{ comment.content|length > 75 ? comment.content|slice(0, 75) ~ '...' : comment.content  }}</p>
                    <p>Le {{ comment.createdAt|date("m F Y") ~ ' par '}}<a href="{{ path('app_user', {'name': comment.account.name}) }}"><b>{{ comment.account.name }}</b></a></p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-4">
            <h1 class="m-0">Les plus achetés</h1>
            <div><a class="btn btn-sm btn-outline-light" href="{{path('app_game')}}"><i class="fa-solid fa-plus"></i></a></div>
        </div>
        <div class="row">
            {% for game in mostBoughtGames %}
                {% include "common/_cardGame.html.twig" %}
            {% endfor %}
        </div>
    </div>
    

{% endblock %}