{% extends 'base-admin.html.twig' %}

{% block title %}Admin : AJout Forum{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="col-10">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_admin_forum') }}">Forums</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nouveau Forum</li>
        </ol>

        <div class="d-flex">
            <h2 class="mb-3">Nouveau Forum</h2>
        </div>

        <div class="col-4">
            {{form_start(form)}}
            {{form_row(form.title)}}
            <button type="submit" class="btn btn-success">Soumettre</button>
            {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}