{% extends 'base-admin.html.twig' %}

{% block title %}Admin Genres{% endblock %}

{% block body %}

<div class="container my-4">
    <div class="col-10">

        <nav class="m-2 mt-4" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Genres</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between">
            <h2 class="mb-3">Genres</h2>
            <a class="btn btn-sm btn-outline-light mb-3 mt-2 " href="{{ path('app_admin_genre_add')}}"><i
                    class="fa-solid fa-plus"></i></a>
        </div>
        <table class="table table-dark table-hover table-striped border border-light border-2">
            <thead>
                <tr>
                    <th scope="col" class="col-8">Nom</th>
                    <th scope="col" class="col-2">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for genre in pagination %}
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{genre.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Êtes vous sûr de vouloir supprimer {{genre.name}} ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                <a href="{{ path('app_admin_genre_delete', {'id': genre.id}) }}"
                                    class="btn btn-primary">Supprimer !</a>
                            </div>
                        </div>
                    </div>
                </div>
                <tr>
                    <th>{{ genre.name }}</th>
                    <th>
                        <a href="{{ path('app_admin_genre_detail', {'slug': genre.slug }) }}"><i
                                class="green fa-solid fa-circle-info"></i></a>
                        <a href="{{ path('app_admin_genre_modify', {'slug': genre.slug }) }}"><i
                                class="orange fa-solid fa-pencil"></i></a>
                        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal{{genre.id}}"><i
                                class="red fa-solid fa-trash-can"></i></a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            {{knp_pagination_render(pagination)}}
        </div>
    </div>
</div>

{% endblock %}