{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/{{ 'home.nav.publishers'|trans }}{% endblock %}

{% block body %}

<div class="container my-4">
    <nav class="m-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editeurs</li>
        </ol>
    </nav>

    <h2 class="mb-3">{{ 'home.menu.publishers'|trans }}</h2>
    <table class="table table-dark table-hover table-striped border border-light border-2">
        <thead>
            <tr>
                <th scope="col col-2">{{ 'home.publishers.country'|trans }}</th>
                <th scope="col col-3">{{ 'home.publishers.name'|trans }}</th>
                <th scope="col col-3">{{ 'home.publishers.website'|trans }}</th>
                <th scope="col col-1">{{ 'home.publishers.nb_games'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for publisher in publishers %}
            <tr>
                <th scope="row"><img src="{{ publisher.country.urlFlag }}"></th>
                <td><a href="{{ path('app_showPublisher', {'slug': publisher.slug }) }}">{{ publisher.name }}</a></td>
                <td><a href="{{ publisher.website }}" target="_blank">{{ publisher.website }}</a></td>
                <td>{{ publisher.games|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}