{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/Jeux/Avis{% endblock %}

{% block body %}

{# commentaires #}
<div class="comment-section pb-4 pt-4">

    <div class="container px-0">

        <nav class="m-2" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_game') }}">Tout les jeux</a></li>
                <li class="breadcrumb-item"><a href="{{path('app_one_game', {'slug': game.slug })}}">{{game.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Avis</li>
            </ol>
        </nav>

        <div class="row">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="m-0">Avis sur {{ game.name }}</h1>
                <div><a class="btn btn-sm btn-outline-light" href="{{path('app_one_game', {'slug': game.slug })}}"><i class="fa-solid fa-arrow-left"></i></a></div>
            </div>
            {% for comment in game.comments %}
            {% include "common/_cardComment.html.twig" %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}