{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: {{ genre.name }}{% endblock %}

{% block body %}
    <div class="container my-4">
    <nav class="m-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_game') }}">Tout les jeux</a></li>
            <li class="breadcrumb-item"><a href="#">Tout les genres</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ genre.name }}</li>
        </ol>
    </nav>
        <div class="my-4">
            <h1 class="">Jeux du genre : {{ genre.name }}</h1>
        </div>
        <div class="row">
            {% for game in genre.games %}
                {% include "common/_cardGame.html.twig" with 
                {
                    'homeDisplay': true
                } 
                %}
            {% endfor %}
        </div>
    </div>

{% endblock %}