{% extends 'base-front.html.twig' %}

{% block title %}{{ parent() }}/Jeux{% endblock %}

{% block body %}
<div class="container mt-4">
    <nav class="m-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_game') }}">Tout les jeux</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{game.name}}</li>
        </ol>
    </nav>
    {# card du jeux #}
    <div class="card mx-auto mt-4 mb-4 col-12 border-2 rounded">


        <div class="row g-0">
            <div class="col-md-4 view">
                <img src="{{ game.thumbnailCover}}" class="img-fluid " alt="{{ game.name }}">
            </div>
            <div class="col-md-8 view">
                <div class="card-body">
                    <h2 class="card-title">{{ game.name }}</h2>
                    {% if game.publisher %}
                    <a class="card-text" href='{{ path('app_showPublisher', {'slug':game.publisher.slug}) }}'>{{ game.publisher.name }}</a>
                    {% endif %}
                    <p class="card-text"><small class="text-muted">Publié le
                            {{ game.publishedAt |date("m F Y") }}</small>
                    </p>
                    <h3 class="card-text">{{ game.price }}€</h3>
                    <hr>
                    <p class="card-text">{{ game.description | raw }}</p>
                    <hr>
                    <div class=" d-flex">
                        {% for genre in game.genres %}
                        <a class="btn btn-sm btn-outline-light me-2 align-middle" href="{{ path('app_game_by_genre', {'slug': genre.slug}) }}">{{ genre.name }}</a>
                        {# <p class="card-text me-2 align-middle">{{ genre.name }}</p> #}
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="d-flex my-0">
                        {% for langue in game.countries %}
                        <div class="me-2">
                            <a href="{{ path('app_game_by_langue', {'slug': langue.slug}) }}"><img src=" {{ langue.urlFlag }}" alt="{{ langue.nationality }}"></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# commentaires #}
{% if  %}

{% endif %}

<div class="comment-section pb-4 pt-4">

    <div class="container px-0">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="m-0">Avis pour {{game.name}}</h1>
                    <div><a class="btn btn-sm btn-outline-light" href="{{path('app_avis', {'slug': game.slug})}}"><i
                                class="fa-solid fa-plus"></i></a></div>
            </div>
            {% for comment in game.comments|slice(0, 6)  %}
            {% include "common/_cardComment.html.twig" with 
            {
                'oneGameDisplay': true
            } %}
            {% endfor %}
        </div>
    </div>
</div>

{# jeux similaires #}
<div class="container">
    <div class="d-flex justify-content-between align-items-center my-4">
        <h1 class="mb-1">Jeux similaires</h1>
    </div>
    <div class="row">
        {% for game in similar|slice(0, 4) %}
        {% include "common/_cardGame.html.twig" %}
        {% endfor %}
    </div>
</div>

{% endblock %}