{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/Jeux{% endblock %}

{% block body %}

<div class="card mx-auto mt-4 mb-4 col-10 border-2 rounded">
    <div class="row g-0">
        <div class="col-md-4 view">
            <img src="{{ game.thumbnailCover}}" class="img-fluid " alt="{{ game.name }}">
        </div>
        <div class="col-md-8 view">
            <div class="card-body">
                <h2 class="card-title">{{ game.name }}</h2>
                <a class="card-text" href=''>{{ game.publisher.name }}</a>
                <p class="card-text"><small class="text-muted">Publié le {{ game.publishedAt |date("m F Y") }}</small>
                </p>
                <h3 class="card-text">Prix {{ game.price }}€</h3>
                <p class="card-text"><small class="text-muted"></small></p>
                <p class="card-text">{{ game.description | raw }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}