{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/Jeux{% endblock %}

{% block body %}

<div class="card mx-auto mt-4 mb-4 col-10 border-2 rounded">
    <div class="row g-0">
        <div class="col-md-4 view">
            <img src="{{ game.thumbnailCover}}" class="img-fluid " alt="{{ game.name }}">
        </div>
        <div class="col-md-8 view">
            <div class="card-body">
                <h2 class="card-title">{{ game.name }}</h2>
                {% if game.publisher %}
                <a class="card-text" href=''>{{ game.publisher.name }}</a>
                {% endif %}
                <p class="card-text"><small class="text-muted">Publié le {{ game.publishedAt |date("m F Y") }}</small>
                </p>
                <h3 class="card-text">{{ game.price }}€</h3>
                <hr>
                <p class="card-text">{{ game.description | raw }}</p>
                <hr>
                <div class=" d-flex">
                    {% for genre in game.genres %}
                    <button type="button" class="btn btn-sm btn-outline-light me-2 align-middle">{{ genre.name }}</button>
                    {# <p class="card-text me-2 align-middle">{{ genre.name }}</p> #}
                    {% endfor %}
                </div>
                <hr>
                <div class="d-flex my-0">
                    {% for langue in game.countries %}
                    <div class="me-2">
                        <img src=" {{ langue.urlFlag }}" alt="{{ langue.nationality }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}