{% extends 'base-admin.html.twig' %}

{% block title %}Admin : AJout Jeux{% endblock %}

{% block body %}
<div class="container my-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_admin_game') }}">Jeux</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nouveau jeur</li>
    </ol>
    
    <div class="d-flex">
        <h2 class="mb-3">Nouveau jeu</h2>
    </div>

    <div class="row">
        {{form_start(form)}}
            <div class="col-4 col-lg-4">
                {{form_row(form.name)}}
                {{form_row(form.price)}}
                {{form_row(form.publishedAt)}}
                {{form_row(form.description)}}
                {{form_row(form.thumbnailCover)}}
                {{form_row(form.thumbnailLogo)}}
                {{form_row(form.slug)}}
                {{form_row(form.publisher)}}
            </div>
            <div class="col-12">
                {{form_row(form.countries, {attr : {'class': 'checkboxes-template'}})}}
            </div>
            <div class="col-12">
                {{form_row(form.genres, {attr : {'class': 'checkboxes-template'}})}}
                </div>
            <button type="submit" class="btn btn-success">Soumettre</button>
        {{form_end(form)}}
    </div>
</div>
{% endblock %}