{% extends 'base-front.html.twig' %}

{% block title %}Hello MessagerieController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% if newMessages|length != 0 %}
                <div class="col-12">
                    <h2>Nouveaux messages</h2>
                    {% for newMessage in newMessages %}
                        <div>
                            {{newMessage.content}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center my-4">
                    <h2 class="mb-1">Messages Envoyés : </h2>
                    <div>
                        <a class="btn btn-sm btn-outline-light" href="{{path('app_messagerie_sent_all')}}"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
                {% for messageSent in messageSent %}
                    <div>
                        {{messageSent.content}}
                    </div>
                {% endfor %}
            </div>

            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center my-4">
                    <h2 class="mb-1">Messages Reçus : </h2>
                    <div>
                        <a class="btn btn-sm btn-outline-light" href="{{path('app_messagerie_received_all')}}"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
                {% for messageReceived in messageReceived %}
                    <div>
                        {{messageReceived.content}}
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr>

        {{form_start(form)}}
            <input type="submit">
        {{form_end(form)}}

        {% if error == true %}
            <p>Utilisateur inexistant...</p>
        {% endif %}
    </div>

{% endblock %}
