<div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4 cardgame">
    <a href="{{path('app_one_game', {'slug': game.slug })}}">
        <div class="container-image">
           <img class="img-fluid shadow" src="{{game.thumbnailCover}}" alt="{{game.name}}">
        </div>
    </a>
    <div class="d-flex justify-content-between">
        <a href="{{path('app_one_game', {'slug': game.slug })}}">
            <h3 class="mt-1">{{game.name}}</h3>
        </a>
        <h2 class="h4">{{game.price}}€</h2>
    </div>
</div>