<div class="col-12 p-2">
    <div class="cardcomment">
        <div class="ps-3 py-3">
            <div class="d-flex align-middle justify-content-between pe-4">
                <p>{{ 'home.comment.written_on'|trans({
                    '%date%': comment.createdAt|date("m F Y")
                }) }}<a
                        href="{{ path('app_user', {'name': comment.account.name}) }}"><b> {{ 'home.comment.written_by'|trans({
                    '%name%': comment.account.name
                }) }}</b></a>
                </p>
                <div class="d-flex">
                    <p><i class="fa-solid fa-circle-up green"></i></p>
                    <p>{{ comment.upVotes }}</p>

                    <p><i class="fa-solid fa-circle-down red ms-2"></i></p>
                    <p>{{ comment.downVotes }}</p>
                </div>
            </div>
            <p class="pe-2">{{ comment.content }}</p>
            <p class="pe-2">{{ comment.game.name }}</p>
        </div>
    </div>
</div>