<nav class="navbar navbar-expand-lg navbar-dark navBleu fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}"><img src="https://cdn.freebiesupply.com/logos/large/2x/instant-gaming-1-logo-png-transparent.png" width="75" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_publisher') }}">{{ 'home.nav.publishers'|trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_game') }}">{{ 'home.nav.games'|trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_user_index') }}">Utilisateurs</a>
        </li>
      </ul>
      <form id="form-result" class="d-flex">
        <div style="position: relative;">
          <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <div id="livesearch" style=" width:auto; height:auto; margin:auto;  position: absolute;"></div>
        </div>
        <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </div>
</nav>