<nav class="navbar navbar-expand-lg navbar-dark navBleu fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Orange_lambda.svg/langfr-260px-Orange_lambda.svg.png" width="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_publisher') }}">{{ 'home.nav.publishers'|trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_game') }}">{{ 'home.nav.games'|trans }}</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="nav-link" href="{{ path('app_admin_game') }}">Dashboard</a>
        {% endif %}

        {% if app.user %}

          <li class="nav-item p-2 ">
            <p class="orange m-0">Coucou {{app.user.name}}!</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa-solid fa-user-slash orange"></i></a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}"><i class="fa-solid fa-user orange"></i></a>
          </li>
        {% endif %}
      </ul>
      <form id="form-result" class="d-flex">
        <div style="position: relative;">
          <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <div id="livesearch" style=" width:auto; height:auto; margin:auto;  position: absolute;"></div>
        </div>
      </form>
    </div>
  </div>
</nav>