{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/Utilisateurs/{{ account.slug }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <nav class="m-2" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_user_index') }}">Utilisateurs</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{account.name}}</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-12 account-card text-center">
                <h1 class="m-0 pt-2">{{ account.name }}</h1>
                <p class="mb-0"><small class="text-muted">{{ account.nickname }}</small></p> 
                <p class="mb-0"><small class="text-muted">Inscrit depuis le {{ account.createdAt|date("m F Y") }}</small></p>
                <p><i class="fa-solid fa-hourglass-start"></i>{{ account.totalGameTime|time_to_string }} | <i class="fa-solid fa-sack-dollar"></i>{{ account.totalPrice }}€</p> 
                <hr>
                <div class="row mt-4">
                    {% if account.libraries %}
                        {% for library in account.libraries %}
                            {% include "common/_cardGame.html.twig" with 
                            {
                                'accountDisplay': true
                            } 
                            %}
                        {% else %}
                            <p>
                                Aucun jeux dans la bibliothèque, 
                                <a class="text-decoration-none" href="{{ path('app_game') }}">achetez en !</a>
                            </p>
                        {% endfor %}
                    {% endif %}
                   
                </div>
                <hr class="mt-0">
                <div class="row comment-section text-start">
                    {% if account.comments %}
                        {% for comment in account.comments %}
                        {% include "common/_cardComment.html.twig" with {
                            'accountDisplay' : TRUE
                        }%}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>    
    </div>
{% endblock %}
